flows(1).json
[
    {
        "id": "7c0ae1c65d0e6672",
        "type": "tab",
        "label": "Flow 2 - Fecha con formato humano",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d3da2a4317a58f52",
        "type": "inject",
        "z": "7c0ae1c65d0e6672",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "bd032bb809e6719d"
            ]
        ]
    },
    {
        "id": "e55e53e58723caa2",
        "type": "debug",
        "z": "7c0ae1c65d0e6672",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 60,
        "wires": []
    },
    {
        "id": "bd032bb809e6719d",
        "type": "function",
        "z": "7c0ae1c65d0e6672",
        "name": "function 1",
        "func": "//Lo que está después de \"//\"son comentarios\n//Crea un objeto Date a partir del payload enviado por timestamp \nvar date= new Date (msg.payload);\n//Cambia el payload para que sea una fecha con formato \nmsg.payload= date.toString();\n//Regresa el mensaje para que se envíe al siguiente nodo return msg;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 60,
        "wires": [
            [
                "e55e53e58723caa2"
            ]
        ]
    }
]